<div class="column float_left">
    <% form_tag :action => 'create' do -%>
    <fieldset>
        <legend>Log In</legend>
        <fieldset>
          <legend>OpenID</legend>
          <div>
            <label for="openid_url">OpenID URL</label><br/>
            <%= text_field_tag 'openid_url' %>
          </div>
        </fieldset>
        <div class="center small">or&hellip;</div>
        <fieldset>
          <legend>Traditional</legend>
          <div>
              <label for="login">Login</label><br/>
              <%= text_field_tag 'login', @login %>
          </div>

          <div>
              <label for="password">Password</label><br/>
              <%= password_field_tag 'password', nil %>
          </div>

          <div>
              <label for="remember_me">Remember me:</label>
              <%= check_box_tag 'remember_me', '1', @remember_me %>
          </div>
        </fieldset>

    </fieldset>
    
    <div><%= submit_tag 'Log in' %></div>
    <p><%= link_to "Forgot your password?", forgot_password_path %></p>
    
    <% end -%>
</div>

<div class="column float_right">
        <h2>Not a member?</h2>
        <p><%= link_to "Register an account!", signup_path %></p>
</div>

<div class="clear"></div>