<% content_for :page_title, "Listing users" -%>
<table>
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>OpenID</th>
    <th>State</th>
    <th>&nbsp;</th>
  </tr>

<% @objects.each do |user| %>
  <tr class="<%= cycle 'even', 'odd' %><%=
    case user.current_state
    when :active
      ' active'
    when :deleted
      ' deleted'
    when :suspended
      ' suspended'
    end
  %>">
    <td><%= link_to_user(user, {:content_method => 'name'}) %></td>
    <td><%=h user.login %></td>
    <td><%=h user.identity_url %></td>
    <td><%=h user.current_state.to_s.capitalize %></td>
    <td>
        <%= mail_to(user.email, mail_icon('Email')) %>
        <%= link_to(monitor_icon('Statistics'), instance_logs_path('user', user)) %>
        <%= link_to(edit_icon('Edit'), edit_user_path(user)) %>
        <%= link_to(roles_icon('Manage roles'), roles_user_path(user)) %>
        <%= link_to(destroy_icon('Destroy'), user, :method => :delete) unless user.current_state == :deleted || user == current_user %>
        <%= link_to(purge_icon('Permanently delete!'), {:action => 'purge', :id => user}, :method => :delete) if user.current_state == :deleted %>
        <%= link_to(refresh_icon('Re-activate user'), {:action => 'undelete', :id => user}) if user.current_state == :deleted %>
        <%= link_to(tango('actions/process-stop', 'Suspend user'), {:action => 'suspend', :id => user}, :confirm => "Are you sure you want to suspend " + user.login + "?", :method => :put) if user.current_state == :active && user != current_user %>
        <%= link_to(refresh_icon('Unsuspend user'), {:action => 'unsuspend', :id => user}, :method => :put) if user.current_state == :suspended %>
    </td>
  </tr>
<% end %>
</table>
