- content_for :page_title, "Reset your password"
= error_messages_for :user
%h2
  = @object.email
- @object.password = @object.password_confirmation = nil
- form_for :user, :url => do_reset_path do |f|
  = hidden_field_tag :code, @object.password_reset_code
  %div
    %label{ :for => "password" }
    = f.password_field :password
  %div
    %label{:for => "password_confirmation"} Confirm Password
    = f.password_field :password_confirmation
  %div
    = submit_tag 'Reset'
