<%= error_messages_for :user %>

<h1>Reset your password</h1>

<h2><%= @object.email %></h2>

<% @object.password = @object.password_confirmation = nil %>

<% form_for :user, :url => do_reset_path do |f| -%>
  
  <div><label for="password">Password</label><br/>
  <%= f.password_field :password %></div>
  
  <div><label for="password_confirmation">Confirm Password</label><br/>
  <%= f.password_field :password_confirmation %></div>
  
  <%= hidden_field_tag :code, @object.password_reset_code %>
  
  <div><%= submit_tag 'Reset' %></div>
<% end -%>
