- if medium.is_video?
  - case medium.content_type
  - when 'video/quicktime'
    = javascript_include_tag 'tiny_mce/embed', :plugin => 'natto'
    :javascript
      writeQuickTime({"src":"#{medium.public_filename}","width":"320","height":"240","autoplay":"false"});
  - when 'application/x-flash-video'
    = javascript_include_tag 'swfobject', :plugin => 'natto'
    #preview
    :javascript
      var s1 = new SWFObject('/plugin_assets/natto/jwplayer/player.swf','ply','470','320','9','#ffffff');
      s1.addParam('allowfullscreen','true');
      s1.addParam('allowscriptaccess','always');
      s1.addParam('wmode','opaque');
      s1.addParam('flashvars','file=#{@object.public_filename}&controlbar=bottom&duration=34&fullscreen=true&stretching=fill&backcolor=cccccc');
      s1.write('preview');
- elsif medium.is_audio?
  = javascript_include_tag 'tiny_mce/embed', :plugin => 'natto'
  :javascript
    writeQuickTime({"src":"#{medium.public_filename}","width":"320","height":"0","autoplay":"true"});
