!!! XML
%feed{"xmlns" => "http://www.w3.org/2005/Atom", "xml:lang" => "en-US"}
  %title= Natto.site_title
  %link= "http://#{Natto.host}"
  %link{:rel => "self"}= feeds_url(@objects.first.page.title.gsub(/ /, "_"), "atom")
  %author= Natto.site_title
  %generator{:uri => "http://www.nattodesigns.com", :version => "1.0"} Natto CMS
  %modified= @objects.first.published_at.to_s if @objects.size > 0 && !@objects.first.published_at.nil?
  /  %subtitle A blog feed by Chicago Creative Partnership
  %copyright= "Copyright (c) #{Time.now.year}, #{Natto.site_title}"
  - @objects.each do |post|
    %entry
      %title= post.title
      %link{:href => post_url(post)}
      %updates= post.updated_at.to_s unless post.updated_at.nil?
      %issued= post.published_at.to_s
      - unless post.author.nil?
        %author
          %name= post.author.name
      %summary= post.description
      %content{:type => "xhtml", "xmlns:xhtml" => "http://www.w3.org/1999/xhtml"}= post.content