<% content_for :page_title, "Listing widgets" -%>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>

<% for widget in @objects %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%=h widget.title %></td>
    <td><%=h widget.description %></td>
    <td>
      <%= link_to(monitor_icon('Statistics'), instance_logs_path('widget', widget)) %>
      <%= link_to edit_icon('Edit'), edit_widget_path(widget) %>
      <%= link_to destroy_icon('Destroy'), widget, :confirm => "Are you sure you want to permanently delete this post?", :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
