- content_for :javascript, javascript_include_tag('treemenu', :plugin => 'natto')
- content_for :title, @object.title
- content_for :page_title, @object.title
#blog
  #blog_posts
    - get_recent_posts(@object).each do |post| # render recent posts for the page
      .blog_post
        #date= format_date(post.created_at, :long)
        %h2= post.title
        %p
          %em>= post.description unless post.description.blank?
        %p= truncate_words(post.content)
        = render :partial => "posts/share"
        - if logged_in? && current_user.is_administrator?
          .post_controls
            = link_to(monitor_icon('Statistics'), instance_logs_path('post', post))
            = link_to edit_icon('Edit'), edit_post_path(post)
            = link_to destroy_icon('Destroy'), post, :confirm => "Are you sure you want to permanently delete this post?", :method => :delete

        #post_comments
          - if post.comments.size == 0
            %p
              = link_to(posts_icon, post)
              = link_to("Be the first to make a comment", post)
          - else
            %p
              = link_to("View and post comments (#{post.comments.size})", post)
              = link_to(posts_icon("View and post comments (#{post.comments.size})"), post)
  #blog_sidebar
    #sidebar_content= @object.content
    = render :partial => 'posts/sidebar'
.clear