<% content_for :head, "<title>#{Natto.site_title} - #{@object.title}</title>" -%>
<% content_for :page_title, @object.title -%>
<%
# render all posts for the page
posts = Widget.find(:all, :conditions => {:parent_id => @object.id, :parent_type => @object.class.name})
posts.each do |post|
    # locate create and update information
    create = ChangeLog.find(:first, :conditions => {:object_class => post.class.name.tableize.singularize, :object_id => post.id, :action => ChangeLog::CREATE})
    update = ChangeLog.find(:first, :conditions => {:object_class => post.class.name.tableize.singularize, :object_id => post.id, :action => ChangeLog::UPDATE})
  -%>
  <div class="blog_post <%= cycle("even", "odd")%>">
    <div class="widget_controls float_right">
      <%= link_to(monitor_icon('Statistics'), instance_logs_path('widget', post)) %>
      <%= link_to edit_icon('Edit'), edit_widget_path(post) %>
      <%= link_to destroy_icon('Destroy'), post, :confirm => "Are you sure you want to permanently delete this post?", :method => :delete %>
    </div>
    <h2><%= post.title %></h2>
    <p>
        <em><%= post.description %></em><br/>
        <span class="small"><%= "Posted #{format_date(create.performed_at, :long, true)}" unless create.nil? %></span><br/>
        <span class="small"><%= "Last updated #{format_date(create.performed_at, :long, true)}" unless update.nil? %></span>
    </p>
    <p><%= post.content %></p>
  </div>
<% end %>