= render :partial => "shared/advanced_tiny_mce"
= render :partial => "shared/forms/title"
- form_for(@object) do |f|
  = f.error_messages
  = f.hidden_field :parent_id
  %div
    = f.label :page_type, "Type", {:class => 'required'}
    = f.select :page_type, Page::TYPES
  %div
    = f.label :title, nil, {:class => 'required'}
    = f.text_field :title
  %div
    = f.label :description, nil, {:class => 'required'}
    = f.text_area :description, :class => "mceNoEditor small"
  %div
    = f.label :content, nil, {:class => 'required'}
    = f.text_area :content, :class => "mceEditor"
  %div.checkbox
    %div
      = f.check_box :is_home_page
      = f.label :is_home_page
    %div
      = f.check_box :is_admin_home_page
      = f.label :is_admin_home_page
  %fieldset
    %legend Advanced Pathing
    %p.small You may use this field to enter custom routes for the page.
    %div
      = f.label :advanced_path
      = f.text_field :advanced_path
  %fieldset
    %legend{:class => @object.new_record? ? '' : 'required'} Comments
    %p.small Please enter comments for the change log.
    %p= text_area :change_log, :comments, {:class => 'small', :rows => 3}
  %p= f.submit(submit_label(@object))
