<%= render :partial => "shared/simple_tiny_mce" %>
<%= render :partial => "shared/forms/title" %>
<% form_for(@object) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :page_type, "Type", {:class => 'required'} %><br />
    <%= f.select :page_type, Page::TYPES %>
  </p>
  <p>
    <%= f.label :title, nil, {:class => 'required'} %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, nil, {:class => 'required'} %><br />
    <%= f.text_area :description, :class => "mceNoEditor small" %>
  </p>
  <p>
    <%= f.label :content, nil, {:class => 'required'} %><br />
    <%= f.text_area :content, :class => "mceEditor" %>
  </p>
  <p>
    <%= f.check_box :is_home_page %>
    <%= f.label :is_home_page %>?
  </p>
  <p>
    <%= f.check_box :is_admin_home_page %>
    <%= f.label :is_admin_home_page %>?
  </p>
  <fieldset>
    <legend>Advanced Pathing</legend>
    <p class="small">You may use this field to enter custom routes for the page.</p>
    <p>
      <%= f.label :advanced_path %><br />
      <%= f.text_field :advanced_path %>
    </p>
  </fieldset>
  
  <fieldset>
    <legend<%= ' class="required"' unless @object.new_record? %>>Comments</legend>
    <p class="small">Please enter comments for the change log.</p>
    <p><%= text_area :change_log, :comments, {:class => 'small', :rows => 3} %></p>
  </fieldset>
  
  <p>
    <%= f.submit(submit_label(@object)) %>
  </p>
  
  <%= f.hidden_field :parent_id %>
<% end %>
