<% content_for :page_title, "Roles for '#{@object.title}'" -%>
<fieldset>
  <% if @object.roles.size == 0 %>
    <p>No roles found for page.</p>
  <% else %>
    <table>
      <tr>
        <th>Role</th>
      </tr>
    <% @object.roles.each do |role| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to(role.title.chars.capitalize, role, {:title => role.description}) %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</fieldset>

<div class="clear">&nbsp;</div>

<div class="float_left">
  <fieldset>
    <legend>Assign roles to the page</legend>
    <% if @available_roles.size == 0 %>
      <p class="small">(This page has all available roles.)</p>
    <% else %>
      <% form_tag :action => 'process_role' do %>
        <%= hidden_field_tag :id, @object.id %>
        <div>
          <%= label :user, :role %><br/>
          <%= select_tag('role_id', options_from_collection_for_select(@available_roles, :id, :title))%>
        </div>
        <div><%= submit_tag('Add role') %></div>
      <% end %>
    <% end %>
  </fieldset>
</div>

<div class="float_right">
  <fieldset>
  <legend>Remove roles from the page</legend>
  <% if @object.roles.size == 0 %>
    <p class="small">(This page has no assigned roles.)</p>
  <% else %>
    <% form_tag :action => 'process_role' do %>
      <%= hidden_field_tag :id, @object.id %>
      <div>
        <%= label :user, :role %><br/>
        <%= select_tag('role_id', options_from_collection_for_select(@object.roles, :id, :title))%>
      </div>
      <div><%= submit_tag('Remove role') %></div>
    <% end %>
  <% end %>
  </fieldset>
</div>

<div class="clear"></div>
