- content_for :page_title, "Listing projects"
%table
  %tr
    %th Client
    %th Title
    %th &nbsp;
  - for project in @objects
    %tr{:class => cycle('even', 'odd')}
      %td= project.client
      %td= link_to project.title, project
      %td
        = link_to(monitor_icon('Statistics'), instance_logs_path('project', project))
        = link_to edit_icon('Edit'), edit_project_path(project)
        = link_to media_icon('Manage project media'), media_project_path(project)
        = link_to destroy_icon('Destroy'), project, :confirm => "Are you sure you want to permanently delete this project?", :method => :delete
