<%= render :partial => "shared/forms/title" %>
<% form_for(@object) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Role Information</legend>
    <div>
      <%= f.label :title, nil, {:class => 'required'} %><br />
      <%= f.text_field :title, :disabled => @object.title.eql?('administrator') %>
    </div>
    <div>
      <%= f.label :description, nil, {:class => 'required'} %><br />
      <%= f.text_area :description %>
    </div>
    
    <fieldset>
      <legend<%= ' class="required"' unless @object.new_record? %>>Comments</legend>
      <p class="small">Please enter comments for the change log.</p>
      <p><%= text_area :change_log, :comments, {:class => 'small', :rows => 3} %></p>
    </fieldset>
    
    <div>
      <%= f.submit(submit_label(@object)) %>
    </div>
  </fieldset>
<% end %>
