<h1>Listing roles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>

<% for role in @objects %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= link_to(role.title, role) %></td>
    <td><%=h role.description %></td>
    <td>
      <%= link_to(monitor_icon('Statistics'), instance_logs_path('role', role)) %>
      <%= link_to edit_icon('Edit'), edit_role_path(role) %>
      <%= link_to destroy_icon('Destroy'), role, :method => :delete unless role.title.eql?('administrator') %>
    </td>
  </tr>
<% end %>
</table>
