<h2>Backups</h2>

<% if @objects.size > 0 %>
  <table>
  <tr>
    <th>Archive date</th>
    <th>Comments</th>
    <th>&nbsp;</th>
  </th>
  <% @objects.each do |backup| -%>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= format_date(backup.date, :long, false) %></td>
      <td><%= backup.create_comments %></td>
      <td>
        <%= link_to(save_as_icon('Download'), download_backup_path(backup.id)) %>
        <%= link_to(redo_icon('Restore'), restore_backup_path(backup.id)) %>
        <%= link_to(destroy_icon('Delete'), destroy_backup_path(backup.id), :method => :delete) %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p class="warning">There are currently no backups.</p>
<% end %>