- content_for(:page_title, "New medium")
- form_for(@object, :html => { :multipart => true }) do |f|
  = f.error_messages
  %fieldset
    %legend File details
    %div
      = f.label :title
      = f.text_field :title
    %div
      = f.label :description
      = f.text_area :description, :class => 'small'
    %div
      = f.label :type, nil, {:class => 'required'}
      = f.select :medium_type, Medium::TYPES, {:include_blank => 'Please select'}
  - if @object.new_record?
    %fieldset
      %legend Choose one method
      %fieldset
        %legend Upload
        %div
          %label{:for => "location"} Upload
          = f.file_field :uploaded_data
      %p.small or&hellip;
      %fieldset
        %legend Path on server
        %div
          = f.label :filename
          = f.text_field :filename
    %div= f.submit(submit_label(@object))
