- content_for(:page_title, @object.new_record? ? "New medium" : "Edit medium")
- form_for(@object, :html => { :multipart => true }) do |f|
  = f.error_messages
  %fieldset
    %legend File details
    %div
      = f.label :alt_text
      %p.small 
        This is used in alt tags (for screen readers and text browsers that can't show images,
        for example), in the image's title tag (for mouse-over tooltips), and in the WYSIWYG
        editor's image list.
      = f.text_field :alt_text
  - if @object.new_record?
    %fieldset
      %legend{:class => 'required'} Choose one method
      %fieldset
        %legend Upload
        %p
          %b>= "#{tango("emblems/emblem-important")} #{number_to_human_size(Natto.file_limit)} file size limit!"
        %div
          %label{:for => "location"} Upload
          = f.file_field :uploaded_data
      %p.small or&hellip;
      %fieldset
        %legend Path on server
        %div
          = label_tag 'file_path'
          = text_field_tag 'file_path'
  %div= f.submit(submit_label(@object))
