- content_for(:page_title, "New medium")
- form_for(@object, :html => { :multipart => true }) do |f|
  = f.error_messages
  %fieldset
    %legend File details
    %div
      = f.label :alt_text
      %p.small This text will be used in the image's alt tag (for screen readers and text browsers, for example), and in its title tag for mouse-over tooltips.
      = f.text_field :alt_text
  - if @object.new_record?
    %fieldset
      %legend Choose one method
      %fieldset
        %legend Upload
        %div
          %label{:for => "location"} Upload
          = f.file_field :uploaded_data
      %p.small or&hellip;
      %fieldset
        %legend Path on server
        %div
          = label_tag 'file_path'
          = text_field_tag 'file_path'
  %div= f.submit(submit_label(@object))
