- content_for :page_title, "Listing media"
%table
  %tr
    %th &nbsp;
    %th Mime Type
    %th &nbsp;
  - for medium in @objects
    %tr{:class => cycle('even','odd')}
      %td= link_to(image_tag(medium.public_filename(:thumb), :alt => medium.alt_text, :title => "Click for details."), image_version_path(medium, Medium::MEDIUM)) if medium.content_type.include?("image")
      %td=h medium.content_type
      %td
        = link_to(show_icon, (medium.content_type.include?("image") ? image_version_path(medium, Medium::MEDIUM) : medium_path(medium)))
        = link_to(monitor_icon('Statistics'), instance_logs_path('medium', medium))
        = link_to edit_icon('Edit'), edit_medium_path(medium)
        = link_to(tango("actions/view-fullscreen", "Crop thumbnail"), crop_thumb_path(medium)) if medium.content_type.include?("image")
        = link_to destroy_icon('Destroy'), medium, :confirm => "Are you sure you want to permanently delete this medium?", :method => :delete
