- params[:version].blank? ? version = "" : version = params[:version]
%h1= @object.content_type.include?("image") ? (version.blank? ? 'Original' : version.capitalize) : @object.content_type
- if @object.content_type.include?("image")
  = image_tag @object.public_filename(version)
  #view_or_crop
    = link_to("Thumbnail", image_version_path(@object, :thumb))
    %span.small
      - text_link = link_to("Crop", crop_thumb_path(@object))
      = "(#{text_link})"
    %br
      = link_to("Resized", image_version_path(@object, :resized))
      %span.small
        - text_link = link_to("Crop", crop_image_path(@object, Medium::MEDIUM))
        = "(#{text_link})"
    %br
    = link_to("Large", image_version_path(@object, :large))
    %br
    = link_to("Original", image_path(@object))
  %br
  %p
    %b> File: 
    = " #{link_to(@object.public_filename(version), @object.public_filename(version))}"
    %p.small
      = tango("emblems/emblem-important")
      (You may need to refresh your browser, if the image has not updated after a crop or edit.)
- if @object.content_type.include?("video")
  = javascript_include_tag 'swfobject', :plugin => 'natto'
  #preview
  :javascript
    var s1 = new SWFObject('/plugin_assets/natto/jwplayer/player.swf','ply','470','320','9','#ffffff');
    s1.addParam('allowfullscreen','true');
    s1.addParam('allowscriptaccess','always');
    s1.addParam('wmode','opaque');
    s1.addParam('flashvars','file=#{@object.public_filename}&controlbar=bottom&duration=34&fullscreen=true&stretching=fill&backcolor=cccccc');
    s1.write('preview');
