var tinyMCEImageList = new Array(
- counter = 1
- @objects.each do |medium|
  - title = medium.alt_text.blank? ? medium.filename : medium.alt_text
  - if medium.is_image?
    = "    [\"#{escape_javascript(title)}, Small\", \"#{medium.public_filename(Medium::SMALL)}\"],"
    = "    [\"#{escape_javascript(title)}, Medium\", \"#{medium.public_filename(Medium::MEDIUM)}\"],"
    = "    [\"#{escape_javascript(title)}, Large\", \"#{medium.public_filename(Medium::LARGE)}\"],"
    = "    [\"#{escape_javascript(title)}, Original\", \"#{medium.public_filename}\"]#{',' unless counter == @objects.size}"
  - else
    = "    [\"#{escape_javascript(title)}\", \"#{medium.public_filename}\"]#{',' unless counter == @objects.size}"
  - counter += 1
);