var tinyMCEImageList = new Array(
- counter = 1
- @objects.each do |medium|
  - title = medium.alt_text.blank? ? medium.filename : medium.alt_text
  - if medium.is_image?
    = "    [\"#{title}, Small\", \"#{medium.public_filename(Medium::SMALL)}\"],"
    = "    [\"#{title}, Medium\", \"#{medium.public_filename(Medium::MEDIUM)}\"],"
    = "    [\"#{title}, Large\", \"#{medium.public_filename(Medium::LARGE)}\"],"
    = "    [\"#{title}, Original\", \"#{medium.public_filename}\"]#{',' unless counter == @objects.size}"
  - else
    = "    [\"#{title}\", \"#{medium.public_filename}\"]#{',' unless counter == @objects.size}"
  - counter += 1
);