- content_for :page_title, (@object.new_record? ? "New post" : "Edit post")
= render :partial => "shared/advanced_tiny_mce"
- form_for(@object) do |f|
  = f.error_messages
  %fieldset
    %legend Post Details
    %div
      = f.label :page_id, "Page", {:class => 'required'}
      = f.select :page_id, Page.find(:all, :conditions => {:page_type => Page::BLOG}).collect {|page| [page.title, page.id]}, :include_blank => "Please select"
    %div
      = f.label :title, nil, {:class => 'required'}
      = f.text_field :title
    %div
      = f.label :description
      = f.text_area :description, :class => "mceNoEditor small"
    %div
      = f.label :content, nil, {:class => 'required'}
      = f.text_area :content, :class => "mceEditor"
    %div= f.submit(submit_label(@object))
