- if !ie?
  !!! XML
!!! Strict
%html
  %head= render :partial => 'shared/head'
  %body
    #page
      #header
        %ul#user_bar= render :partial => 'users/user_bar'
        %h1#site_title= link_to(Natto.site_title, root_path)
        %ul#navigation= render :partial => 'shared/navigation'
      #content
        %h1#page_title= render :partial => 'shared/page_title'
        = render :partial => 'shared/admin_toolbar'
        = render :partial => 'shared/location'
        = render :partial => 'shared/notices'
        = yield
      #footer
        = link_to('Sitemap', sitemap_path)
        #copyright &copy; 2008 Dan &amp; Dave J. Nawara
